<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404 page not found</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/reset.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/modal.css">
</head>
<body>
	<main>
    <div class="logo" id="logo"></div>
    <form action="get" class="search" id="search"></form>

     <button class="auth-button-main" id="myBtn" >ავტორიზაცია</button>

     <span class="label-place opnCard"></span> 
     <i class="fas fa-cart-arrow-down  opnCard" id="open"></i>
  </main>

	<nav id="nav"><% include blocks/nav.ejs %></nav>
		<h1 class="notFoundPage1">404</h1>
<h2 class="notFoundPage2">
	
	Page Not Found

</h1>
<img class="notFoundPageImg" src="images/404.png">


	<footer>
		<section class="footer-link" id="footer-link"></section>
		<section class="copyright" id="copyright"></section>
	</footer>
<script src="javascripts/modal.js"></script>
<script src="javascripts/main.js"></script>
</body>
</html>