<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gun || Ammo</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/modal.css">
</head>
<body>
	<main>
		<div class="logo" id="logo"></div>

		<form action="get" class="search" id="search"></form>
		
		<section class="card">
			<button id="myBtn" class="auth-button-main">შესვლა<i class="fas fa-sign-in-alt"></i></button>
			<a href=""><i class="fas fa-cart-arrow-down"></i></a>
		</section>
	</main>

	<nav id="nav"></nav>	

	<div id="profile"></div>


	<script src="script/main.js"></script>
	<script>
		const profile= document.getElementById('profile');
		const userinf = JSON.parse(localStorage.getItem('regInf'));
		profile.innerHTML = `<div class="userpage">
							<h1>მომხმარებლის მონაცემები</h1>
						<section class="userdata">
							<div class="user-photo"><img src="img/gun1.png" alt="" /></div>
							<ul>	
							<li>სახელი & გვარი: ${userinf.name}</li> <br />
							<li>მომხმარებლის სახელი: ${userinf.username}</li><br />
							<li>პაროლი: ${userinf.password}</li><br />
							<li>ელ. ფოსტა: ${userinf.mail}</li><br />
							<li>ტელეფონი: ${userinf.number}</li><br />
							</ul>
						</section>
						</div>`
	</script>
	<!-- ========================Modal Login start==================================== -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="container">
    	<img src="img/logo.png" alt="">
    <form action="post" class="login-form">
    	<input type="text" class="auth-form" placeholder="სახელი" >
    	<input type="password" placeholder="პაროლი" class="auth-form">
    	<hr>
    	<button type="button" class="login-button"><i class="fas fa-sign-in-alt">ავტორიზაცია</i></button>
    	<button type="button" class="registration-button" onclick="window.location.href='registration.html'"><i class="fas fa-user">რეგისტრაცია</i></button>
    </form>
    </div>
  </div>

</div>
<!-- ========================Modal login End==================================== -->
<footer>
		<section class="footer-link" id="footer-link"></section>
		<section class="copyright" id="copyright"></section>
	</footer>
<script src="script/modal.js"></script>
</body>
</html>